@charset "utf-8";

::placeholder {
	color:#BBB;
}

@-webkit-keyframes load{
	0%{
		box-shadow:0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95%{
		box-shadow:0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59%{
		box-shadow:0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20%{
		box-shadow:0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38%{
		box-shadow:0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100%{
		box-shadow:0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes load{
	0%{
		box-shadow:0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95%{
		box-shadow:0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59%{
		box-shadow:0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20%{
		box-shadow:0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38%{
		box-shadow:0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100%{
		box-shadow:0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@-webkit-keyframes round{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

@keyframes round{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

*{
	word-break:break-all;
}

*, 
*:before, 
*:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

html, body{
	width:100%;
	background:#FFF;
}

html, body, a, abbr, acronym, address, area, b, bdo, big, blockquote, button, caption, cite, code, col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, i, img,ins, kbd, label, legend, li, map, object, ol, p, param, pre, q, samp, small, span, strong, sub,sup, textarea, tfoot tt, ul, var, menu, figure, figcaption{
	margin:0;
	padding:0;
	vertical-align:baseline;
	background:transparent;
}

body{
	font-size:12px;
	line-height:20px;
	letter-spacing:1px;
	text-align:center;
	font-family: "MS Sans Serif","ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", "メイリオ", "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	-webkit-text-size-adjust:100% !important;
	overscroll-behavior:none;
}

body *{
	color:#000;
}

h1, h2, h3, h4, h5, h6{
	font-size:16px;
	font-weight:normal;
}

img{
	-ms-interpolation-mode:bicubic;
	border:none;
	vertical-align:bottom;
}

video{
	border:none;
	background:#000;
	filter:drop-shadow(0px 0px rgba(0,0,0,0));
	outline:none;
	object-fit:cover;
}

iframe{
	background:none;
	display:block;
	position:relative;
}

main{
	display:block;
}

fieldset{
	border:1px solid #000;
	display:block;
}

legend{
	margin:0 auto;
	padding:0 5px;
}

th, 
strong{
	font-weight:normal;
}

td{
	text-align:left;
}

address{
	font-style:normal;
}

li{
	list-style:none;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill{
	background:#FFF;
}

input:focus, 
textarea:focus, 
select:focus{
	outline:none;
}

input, 
select, 
textarea{
	font-size:12px;
	background:#FFF;
	border:1px solid #000;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

input[type=text], 
input[type=search], 
input[type=tel], 
input[type=url], 
input[type=email], 
input[type=password], 
input[type=datetime], 
input[type=date], 
input[type=month], 
input[type=week], 
input[type=time], 
input[type=datetime-local], 
input[type=number], 
select{
	height:32px;
	line-height:30px;
	text-indent:5px;
	padding:0 !important;
}

input[type=button], 
input[type=submit]{
	text-indent:0;
	line-height:22px;
	padding:0 10px;
	-webkit-appearance:none;
}

input[type=radio], 
input[type=checkbox]{
	margin:0;
	cursor:pointer;
}

textarea{
	padding:3px 4px;
}

label{
	display:inline-block;
	cursor:pointer;
}

label > *{
	vertical-align:middle;
}

a:link, 
a:visited, 
a:active{
	text-decoration:none;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

.animate_load{
	color:#999;
	font-size:26px;
	text-indent:-9999em;
	width:25px;
	height:25px;
	margin:-13px auto auto -13px;
	border-radius:50%;
	overflow:hidden;
	-webkit-transform:translateZ(0);
	-ms-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-animation:load 1.7s infinite ease, round 1.7s infinite ease;
	animation:load 1.7s infinite ease, round 1.7s infinite ease;
}

@media screen and (min-width:1000px){
	a:hover{
		color:#C00;
		text-decoration:none;
		outline:none;
	}
	
	a:hover img{
		opacity:0.7;
		filter:alpha(opacity=70);
	}
	
	main.pc, 
	article.pc, 
	section.pc, 
	div.pc, 
	nav.pc, 
	ul.pc{
		display:block;
	}
	
	br.pc, 
	span.pc, 
	a.pc{
		display:inline;
	}
	
	li.pc{
		display:list-item;
	}
	
	.sp{
		display:none;
	}
}
@media screen and (max-width:1000px){
	input[type=text], 
	input[type=search], 
	input[type=tel], 
	input[type=url], 
	input[type=email], 
	input[type=password], 
	input[type=datetime], 
	input[type=date], 
	input[type=month], 
	input[type=week], 
	input[type=time], 
	input[type=datetime-local], 
	input[type=number], 
	select{
		height:32px;
		line-height:32px;
	}
	
	input[type=button], 
	input[type=submit]{
		line-height:32px;
	}
	
	input[type="button"], 
	input[type="text"], 
	input[type="search"], 
	input[type="submit"], 
	input[type="image"], 
	textarea{
		-webkit-appearance:none;
		border-radius:0;
	}
	
	.pc{
		display:none;
	}
	
	main.sp, 
	article.sp, 
	section.sp, 
	div.sp, 
	nav.sp, 
	ul.sp{
		display:block;
	}
	
	br.sp, 
	span.sp, 
	a.sp{
		display:inline;
	}
	
	li.sp{
		display:list-item;
	}
	
	.message{
		text-indent:5px;
	}
	
	caption.title{
		font-size:15px;
		line-height:21px;
	}
	
	.vertical_table_th, 
	.vertical_table_td{
		font-size:13px;
	}
}